<div class="home-container">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>
        <h1>TechThor</h1>
        <h2>DataFusion HUB Dashboard</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <p>Your one-stop solution for data configuration and analytics.</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="button-container">
        <button mat-raised-button color="primary" [routerLink]="'/data-source-manager'">
          Data Source Manager
        </button>
        <button mat-raised-button style="background-color: #008080; color: #fff;" [routerLink]="'/analytics-hub'">
          Analytics Hub
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
