# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables and sensitive files
.env
*.env

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db

# Virtual environment
.venv/
env/
ENV/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.cache

# FastAPI-specific
*.db-journal
*.sqlite3
logs/
