mat-form-field {
    width: 55%;
    margin-bottom: 20px;
  }
  
  .full-width {
    width: 30%;
    margin-bottom: 16px; // Add spacing between fields
    margin-left: 16px;
  }
  
  button {
    margin-top: 16px; // Add spacing above the button
    margin-left: 16px;
    display: block;   // Ensure it's aligned below fields
  }
  
  textarea {
    min-height: 60px;
  }
  