mat-dialog-actions {
    margin-top: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .flex-end {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Optional: Add spacing between buttons */
  }
  