.json-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  mat-form-field {
    width: 30%;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .full-width {
    width: 30%;
    margin-bottom: 16px; // Add spacing between fields
    margin-left: 16px;
  }
  
  button {
    margin-top: 16px; // Add spacing above the button
    margin-left: 16px;
    display: block;   // Ensure it's aligned below fields
  }
  