nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #007bff;
  
    a {
      text-decoration: none;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 500;
      color: #555;
      transition: color 0.3s, border-bottom 0.3s;
  
      &.active-link {
        color: #007bff;
        border-bottom: 2px solid #007bff;
      }
  
      &:hover {
        color: #007bff;
      }
    }
  }
  